<div class="px-6 pt-6 pb-4">
  <h1 class="text-xl font-extrabold tracking-tight text-white">
    {{ env.companyName }}<span class="text-emerald-400">{{ env.companyName2 }}</span><span
      class="text-white/70">.</span>
  </h1>
  <p class="text-slate-400 text-sm mt-1">{{ env.companySlogan }}</p>
</div>

<div class="px-6 pb-6">
  <div class="rounded-2xl bg-white/5 border border-white/10 p-4">

    <a href="#" class="flex items-center gap-3">
      <div class="w-10 h-10 rounded-xl grid place-items-center
               bg-emerald-500/15 border border-emerald-500/20 text-emerald-200 font-bold">
        BM
      </div>

      <div class="leading-tight">
        <div class="text-sm font-semibold text-white">Braian Manrique</div>
        <div class="text-xs text-slate-400">Administrador</div>
      </div>
    </a>
  </div>
</div>
